In [1]:
print("Hi Sridevi")

Hi Sridevi

In [4]:
if 10>5:
    print("correct")
print("hi")

correct
hi

In [6]:
city_name="Delhi"
x=35.88
y=78
print(city_name,x,y)

Delhi 35.88 78

In [8]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [9]:
numbers=1,2,3
a,b,c=numbers
print(a+b+c)

6

In [10]:
city_name="Singapore"
print(f"City name is : {city_name}")

City name is : Singapore

In [11]:
a=10
b=5
print(f"Sum of {a} and {b} is {a+b}")

Sum of 10 and 5 is 15

In [12]:
type(a)

int

In [14]:
c=5.8j+1
type(c)

complex

In [15]:
d=8.99
type(d)

float

In [16]:
temperature=25
print(f"Temperature: {temperature}")

Temperature: 25

In [17]:
carbon_footprint=500.75
print(f"Carbon Footprint: {carbon_footprint} kg CO2")

Carbon Footprint: 500.75 kg CO2

In [18]:
type(carbon_footprint)

float

In [19]:
is_sustainable=carbon_footprint < 400 
print (f"Is the city Sustainable? {is_sustainable}")

Is the city Sustainable? False

In [20]:
x,y,z=1,2,3
x

1

In [21]:
z

3

In [23]:
weekly_temp=[25,34,89,45,13,78,28]
print(f"Weekly temperature is: {weekly_temp}")

Weekly temperature is: [25, 34, 89, 45, 13, 78, 28]

In [24]:
weekly_temp[0]

25

In [25]:
weekly_temp[5]

78

In [26]:
City_data={
    "city_name":"Singapore",
    "temperature":25,
    "carbon_footprint":500.75,
    "is_sustainable":False
}
print(f"City Data: {City_data}")

City Data: {'city_name': 'Singapore', 'temperature': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}

In [28]:
city,temperature,carbon_fp="Bangalore",39,600.9
print(f"City name: {city}, Temperature: {temperature}, Carbon Footprint: {carbon_fp} kg CO2")

City name: Bangalore, Temperature: 39, Carbon Footprint: 600.9 kg CO2

In [4]:
def greet():
    print("hii")

In [5]:
greet()

hii

In [7]:
def Haritha():
    print("She loves Gokul")
Haritha()

She loves Gokul

In [9]:
#cretae a climate dataset list comprehension example
climate_data=[
    {"city":"City A", "Temperature":25, "carbon_footprint":500},
    {"city":"City B", "Temperature":30, "carbon_footprint":350},
    {"city":"City C", "Temperature":22, "carbon_footprint":600},
    {"city":"City D", "Temperature":15, "carbon_footprint":200},
    {"city":"City E", "Temperature":28, "carbon_footprint":450},
]
#create a threshold temp
high_temp_threshold=26

#print the cities having temp higher than threshold temp we can use list for this..

high_temp_cities=[city for city in climate_data if city["Temperature"]>high_temp_threshold]

#print the result
print("Cities with high temperature (>26): ")
for city in high_temp_cities:
    print(f"{city['city']} - {city['Temperature']} ")

Cities with high temperature (>26):
City B - 30
City E - 28

In [11]:
#initialise a variable to store total carbon footprint
total_carbon=0

#use for loop to go to each city in the dataset and add their carbon footprint
for city in climate_data:
    total_carbon+=city['carbon_footprint']
    
#calculate the average carbon footprint
average_carbon_footprint=total_carbon/len(climate_data)

#print the average result
print(f"Average Carbon Footprint is :{average_carbon_footprint: .2f} kg co2")

Average Carbon Footprint is : 420.00 kg co2

In [13]:
#use max() function to find the city with highest carbon footprint
highest_footprint_city = max(climate_data, key=lambda
                             city: city["carbon_footprint"])

#print result
print(f"\n City with highest carbon footprint: ")
print(f"{highest_footprint_city['city']} - {highest_footprint_city['carbon_footprint']} kg CO2")

 City with highest carbon footprint:
City C - 600 kg CO2